@model TestingSys.Domain.Entities.User
@{
    ViewBag.Title = "LockOutUsers";
    Layout = "~/Views/Shared/_LayoutAdmin_Second.cshtml";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <main>
            <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="clients">
                <div class="w-100">
                    <h2 class="mb-5">Block this Client.</h2>

                    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h4>You really want to block the client.</h4>
                            @using (Html.BeginForm())
                            {
                                <fieldset>
                                    <p>@Html.HiddenFor(x => x.FirstName)</p>
                                    <p>@Html.HiddenFor(x => x.LastName)</p>
                                    <p>@Html.HiddenFor(x => x.Email)</p>
                                    <p>@Html.HiddenFor(x => x.Password)</p>
                                    <input class="btn btn-success" type="submit" name="name" value="Block" />
                                </fieldset>
                            }
                            
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
    </html>
