
@{
    ViewBag.Title = "PageNotFound";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <main class="container">
        <h2>Page not found! :(</h2>
    </main>
    <div style="height:300px;"></div>
</body>
</html>

